header {
    height: 715px;
    background-color: #FFF9F4;
}
.orange-highliter {
    color: #FA804C;
}
.blue-highliter {
    color: #363958;
}
.header-img {
    padding-right: 5rem;
}
.header-content {
    padding-left: 7rem;
    padding-right: 6rem;
}
.head-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    line-height: 80px;
}
.btn-custom {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    background: linear-gradient(to top, #3D4FF3, #3543BC);
    border-radius: 10px;
    padding: 18px 35px 15px;
}
.cart-icon {
    width: 24px;
    margin-right: 10px;
    margin-top: -5px;
}
.btn-custom:hover {
    color: white;
    background: linear-gradient(to top, #3543BC, #3D4FF3);
}